.homepage-wrapper .banner {
    position: relative;
}

.homepage-wrapper .banner .banner-image {
    z-index: -1;
    width: 100%;
    height: auto;
    min-height: 60vh;
    object-fit: cover;
}


.homepage-wrapper .banner .banner-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}


.homepage-wrapper .banner .banner-content {
    text-align: center;
    max-width: 1150px;
}
