@import "./global";

body {
    background-color: $secondary;
}

footer {
    color: #ddd;

    a {
        color: $primary;
        text-decoration: none;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}

#header-navigation {

    @media (max-width: 991px) {
        transition: height 0.6s ease 0s;
        display: block;

        ul li:last-child {
            margin-bottom: 8px;
        }
    }
}
